/* #right-deck,#left-deck{
	width:100%;
	min-width:100%;
	max-width:100%;
} */

menupopup{
	-moz-appearance:none !important;
} 
/*.split-menuitem-menu{
	-moz-box-flex:1
}*/

tabs,tab{
	-moz-user-focus:none
}
#actionsp{
	border-bottom:2px solid ;
	-moz-border-bottom-colors: threeddarkshadow rgb(223, 234, 248);
}
/* #actionsp>*{
	-moz-appearance:tab !important;
} */

#windowViewerButton:not([checked]){
	-moz-appearance:tab !important;
}
#windowViewerButton{
	max-width:300px !important;
}

tree#window-tree.plain{
	-moz-appearance:none;
}



.treeVertRow{pointer-events:none;}
.treeVertRow{ 
	/*background-color: #97C6E7!important ;*/
	border: 1px solid rgb(213, 80, 255);
	-moz-border-radius: 8px 8px;
	margin-top:10px;
	pointer-events:none;
}

treechildren::-moz-tree-checkbox(checked){
    /* css for checked cells */
    list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}
treechildren::-moz-tree-row{
	font:10px!important;
}



/*tree{-moz-user-focus:none}*/

/* example code for userContent.css or any web pages;
   a red/yellow arrow indicates the target element */  

:target { 
    -moz-box-shadow:  0.2em 0.2em 0.3em #888;
 -webkit-box-shadow:  0.2em 0.2em 0.3em #888;
}

:target:before {
  font:           70% Arial,"Nimbus Sans L",sans-serif !important;
  content:        "\25ba";  /* > */
  color:          red;
  background:     gold;
  border:         solid thin;
  padding-left:   1px;
  display:        inline-block;
  margin-right:   0.13em;
  vertical-align: 20%;
}




/***************************************
 *
 **/
