menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"]{
	background-color: -moz-menuhover;
	color: -moz-menuhovertext;
}
#actionbar>toolbarbutton .toolbarbutton-text{
	display: -moz-box!important;
}


shadiaglue{-moz-binding:url("chrome://shadia/content/bindings/debug.xml#shadiaGlue")!important}
parseerror{-moz-binding:url("chrome://shadia/content/bindings/debug.xml#parseerror")!important}
*{-moz-tab-size:4!important}
