menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"]{
	background-color: -moz-menuhover!important;
	color: -moz-menuhovertext!important;
}
toolbarbutton>.toolbarbutton-text{
	display: -moz-box!important;
}
menulist{
	-moz-appearance: toolbarbutton!important;
	-moz-binding: url(chrome://global/content/bindings/toolbarbutton.xml#menu)
}
.menulist-dropmarker{
	-moz-appearance: none!important;
	border: medium none!important;
	background-color: transparent!important;
	padding: 0pt;
	width: auto;
	height: auto;
	margin-top: 1px;
} 
