
tree[addons]>treechildren::-moz-tree-row{
    height:32px
}


tree[addons]>treechildren::-moz-tree-image{
	width: 32px;
	height: 32px;
}

treechildren::-moz-tree-cell-text(disabled) {
  color: graytext!important;
}


treechildren::-moz-tree-cell-text(CDATA) {
  color: red!important;
}
#dirViewerButtons{
	/* max-height:18px!important;
	height:18px!important;
	min-height:18px!important; */
	border:1px solid transparent;
	background-color: #FAFAFA;

}
#dirViewerButtons:hover{
	border: 1px solid rgb(213, 80, 255);
	 -moz-border-radius: 2px 8px;
}